body > div#root {
  height: 100%;
  width: 100%;
  position: absolute;
}

.highlightable-node {
  transition: background-color 0.4s ease-in-out;
}

.highlightable-node.focused {
  background-color: #BFBDA3 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}